{% extends 'base.html.twig' %}

    {% block stylesheets %}
        {{ encore_entry_link_tags('product') }}
    {% endblock %}


{% block title %}Administrateur{% endblock %}
{% block body %}
    <table class="text-center">
        <tr>
            <th scope="col">Nom</th>
            <th scope="col">Prénom</th>
            <th scope="col">Email</th>
            <th scope="col">Téléphone</th>
            <th scope="col", colspan="2">Actions</th>
        </tr>
        {% for admin in admins %}
        <tr>
                <td>{{admin.name}}</td>
                <td> {{admin.prenom}} </td> 
                <td>{{admin.email}} </td>
                <td>{{admin.tel}} </td>
                <td class="delete"><a href="{{path('admin_delete', {id: admin.id})}}">Supprimer</a></td>
                <td class="update"><a href="{{path('admin_edit', {id: admin.id})}}">Modifier</a></td>
        </tr>
        {% endfor %}
    </table>
    <a href="{{path('admin_creatAdmin')}}">Ajouter un Administrateur</a><br>

    {% block javascripts %}
        {{ encore_entry_script_tags('product') }}
    {% endblock %}
{% endblock %}