{% extends 'base.html.twig' %}
    {% block stylesheets %}
        {{ encore_entry_link_tags('clientCreate') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('clientCreate') }}
    {% endblock %}
{% block title %}Liste des clients{% endblock %}

{% block body %}
    <div id="add-form-clients" class="p-5 mb-2 mx-auto bg-success text-white w-75">
        <form method="post" action="{{path('clients_add')}}">
            <input type="text" name="name" class="form-control" placeholder="Nom">
            <input type="text" name="prenom" class="form-control" placeholder="Prénom">
            <input type="email" name="email" class="form-control" placeholder="E-mail">
            <input type="text" name="adress" class="form-control" placeholder="Adresse">
            <input type="text" name="tel" class="form-control" placeholder="Téléphone">
            {% if message %}
                <p>{{message}}</p>
            {% endif %}
            <input type="password" name="password" class="form-control" placeholder="Mot de passe">
            <input type="password" name="confirm_password" class="form-control" placeholder="Confirmer le mot de passe">
            <input type="submit" class="btn btn-success" value="Envoyer">
        </form>
    </div>
    <a href="{{path('app_clients')}}"> Voir tous les clients</a><br>
{% endblock %}
