{% extends 'base.html.twig' %}

    {% block stylesheets %}
        {{ encore_entry_link_tags('listClients') }}
    {% endblock %}
    {% block javascripts %}
        {{ encore_entry_script_tags('listClients') }}
    {% endblock %}

{% block title %}Liste des clients{% endblock %}
{% block body %}
    <table class="text-center">
        <tr>
            <th scope="col">Nom</th>
            <th scope="col">Prénom</th>
            <th scope="col">Adresse</th>
            <th scope="col">Email</th>
            <th scope="col", colspan="2">Actions</th>
        </tr>
        {% for client in clients %}
        <tr>
                <td>{{client.user.name}}</td>
                <td> {{client.user.prenom}} </td> 
                <td>{{client.adress}} </td>
                <td>{{client.user.email}} </td>
                <td><a href="{{path('clients_delete', {id: client.id})}}">Supprimer</a></td>
        </tr>
        {% endfor %}
    </table>
    <a href="{{path('clients_create')}}">Ajouter un client</a><br>
{% endblock %}